.pagination {
  display: flex;
  margin: 0 auto;

  & > li {
    margin: 0 12px;
    list-style: none;
    & > a {
      position: relative;
      font-size: 0.8rem;
      width: 24px;
      height: 24px;
      outline: none;
      z-index: 100;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
      }
    }
  }
}
