.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px 6px;
}

.page-item,
.page-link {
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  height: 30px;
  width: 30px;
}
